/* ------ GLOBAL CSS ------ */
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  /* ------ BODY ------ */

body { font-family: 'Josefin Sans', sans-serif; }



  /* ------ HEADER ------ */

header {
  position: absolute;
  margin-left: 8%;
  margin-top: 2em;
}



/* ------ CONTENT ------ */

.container {
  display: flex;
  flex-direction: row;
  height: auto;
}

main { 
  padding-top: 8em;
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: cover;
  background-position: center;
}



/* ------ FOTO ------ */

.bg-image {
  width: 80%;
  height: 100vh;
  
}

figure.hero {   
  background-image: url(./images/hero-desktop.jpg);
  width: 100%;
  height: 100%;  
}


/* ------ CONTENT TEXT ------ */

h2.title {
  font-size: 4.1em;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Red);
  font-weight: 600;
  letter-spacing: 17px;
  line-height: 1.1;
  margin-bottom: .3em;
}

h2 span {
  font-weight: 300;
  color: var(--Desaturated-Red);
}

p.desc {
  color: var(--Desaturated-Red);
  line-height: 1.7;
  font-size: 16px;
  max-width: 28em;
}

.content-text { margin-bottom: 2em; }



  /* ------ FORM ------ */

form input {
  /* position: relative; */
  border-radius: 33px;
  border: unset;
  list-style: unset;
  border: solid 1px var(--Desaturated-Red);
  padding: 14px 25px;
  width: 350px;
  outline-style: unset;
  color: var(--Dark-Grayish-Red);
  font-style: var(--Soft-Red);
}
form {position: relative; display: flex;
flex-direction: row;}

#text {
  display: block;
  margin-left: 2em;
  font-size: 14px;
  margin-top: 0.6em;
  font-weight: 400;
}

#form.invalid .inputBox:before {
  content: '';
  position: absolute;
  background: url(./images/icon-error.svg);
  height: 22px;
  width: 22px;
  background-size: cover;
  z-index: 1000;
  right: 25em;
  top: 12px;
}

button:hover {
  box-shadow: -6px 8px 22px -4px hsl(0, 74%, 74%);
}

button {
  cursor: pointer;
  width: 87px;
  height: 45px;
  border: unset;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  transition: .4s ;
  list-style: unset;
  right: 22em;
  outline-style: unset;
  border-radius: 30px;
}




  /* ------- RESPONSIVE ------ */

@media (max-width: 375px ) {
  body {
    background-image: none ;

  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    margin: 0 0em;
    height: auto;
    justify-content: flex-start;
  }
  header { margin-left: 57px; }
  figure.logo-brand{ width: 65%; }
  figure img.logo { width: 100%; }
  main {
    background-image: none;
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
  }
  .bg-image {
    height: 250px;  
    width: 100%;
    margin-top: 5em;
  }
  figure.hero {   
    background-image: url(./images/hero-mobile.jpg);
    width: 100%;
    background-size: cover;
  }

  h2.title {
    font-size: 2.5em;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: .5em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
  p.desc {
    color: var(--Desaturated-Red);
    line-height: 1.7;
    text-align: center;
    font-size: 14px;
    margin: 0 3em;
    margin-bottom: .4em;    
  }
  .content-text { margin-bottom: 2em; }
  form{ justify-content: center; }
  form input { width: 250px;}    

  button {
    width: 76px;
    height: 45px;
    right: 4em;
  }   
  #form.invalid .inputBox:before {
    height: 20px;
    width: 20px;
    right: 9em;
  }
}
